html,body{
transition: .7s ease-in-out;
}
.container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100hw;
    height: 100vh;
    transition: .7s ease-in-out;
}
.text {
    pointer-events: visibleFill;
    text-align: center;
}
.box {
    width: 50vh;
    padding: 30px;
    background-color: rgb(207, 218, 218);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
}
.color {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    pointer-events: all;
}
.red {
    background-color: rgb(165, 55, 55);
}
.green {
    background-color: rgb(76, 169, 76);
}
.blue {
    background-color: rgb(104, 119, 230);
}
.black {
    background-color: rgb(52, 52, 52);
}

